<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd ">

<http auto-config="true">
<csrf disabled="true"/>
<form-login login-page="/login" default-target-url="/default"
            authentication-failure-url="/loginError"
            authentication-success-handler-ref="customSuccessHandler"
            login-processing-url="/get"
            username-parameter="username"
            password-parameter="password"/>

<logout logout-url="/logout" logout-success-url="/out" invalidate-session="true"/>
</http>

<authentication-manager>
<authentication-provider>
    <password-encoder hash="bcrypt"/>
    <jdbc-user-service data-source-ref="driverManagerDataSource"
                       users-by-username-query="select username,concat(password),1 from user where username=?"

                       authorities-by-username-query="select username,role from user where username=?"/>
</authentication-provider>
</authentication-manager>
<beans:import resource="spring-servlet.xml"/>
</beans:beans>